{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <!--ul-->
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
      <!--li-->
          <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
          <span style="float: right" class="date">{{ .Date.Format "2006/01/02" }}</span>
          <p class="summary">{{ .Summary }}<a href="{{ .RelPermalink }}">[ continue reading... ]</a></p>
      <!--/li-->
      {{ end }}
  <!--/ul-->
</div>
{{ partial "footer.html" . }}
